*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.maincontainer{
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
button{
    width: 100px;
    height: 30px;
    background-color: gray;
    color: white;
    font-weight: 800;
    font-size: 100;
    border-radius: 12px;
}
button:hover{
    background-color: aqua;
    transform: scale(1.2);
}


p{
    width: 800px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
input{
    width: 300px;
    height: 30px;
    margin: 1rem;
    border-radius: 12px;
    border-color: aqua;
    
}
input:hover{
    transform: scale(1.1);
}

