*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
.geekster{
    /* position: absolute;
    top : 45%;
    left : 45%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 150px;
}
h1{
    color : #008000;
    font-size: 40px;

}
h2{
    color : #008000;
    font-size: 30px;
}
p{
    font-weight: 800;
    font-size: 18px;
}
img{
    
    width: 250px;
    /* height: 50px; */
}
button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 15px;
    background-color: #008000;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}