*{
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    border-color: aqua;

}
body{
    position: absolute;
    top : 40%;
    left: 40%;
    /* border: 2px solid red; */
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

     
}
/* #Rishav{
    border-color: aqua;
} */