*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
body{
    position: absolute;
    top : 10%;
    left : 45%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}
.box{
    width: 90px;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0.1rem;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Clickme{
    position: absolute;
    top : 105%;
    left : 3%;
    width: 90px;
    height: 25px;
    border-radius: 5px;
    background-color: blue;
    color: white;

}